<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568314178502-mles1dbmqtdjhbqb09hfdb8s7ra1r8og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568314178502-mles1dbmqtdjhbqb09hfdb8s7ra1r8og</string>
	<key>API_KEY</key>
	<string>AIzaSyAuqNeohGMartD33OPhHtc9MiDsjgiKync</string>
	<key>GCM_SENDER_ID</key>
	<string>568314178502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apolis.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-f3718</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-f3718.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568314178502:ios:8f6b9dca85fa82a6cc20c7</string>
</dict>
</plist>